@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rochester&display=swap');

.modal-title{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 400, Regular;
}

.modal-body{
    font-family: 'Roboto';
    font-weight: 400;
}

.btn-border {
    border: 1px gray solid;
}

#footerText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 920;
}

.orden-btn {
    margin-left: 0.5em;
    border: 1px gray solid;
}

#modCancel{
    width: 1001px;
    height: 447px;
    left: 268px;
    top: 258px;
}

#Cart {
    width: 80px; 
    height: 81px;
}

#Banner {
    width: 100%;
}

#cardContainer {
    padding: 2em;
}

#appElem {
    font-family: 'Roboto', Bold;
    font-weight: 700;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1.5em;
    font-size: 12px;
    color: #000000;
}

#catNavbar {
    height: 4em;
}

#titleRestaurant {
    font-family: 'Rochester';
    font-size: 48px;
}

#precioElem {
    font-weight: bold;
}

#divButtoms {
    margin-right: 1em;
}

.comidaImg {
    margin-top: 1em;
    height: 12em;
}

#elemTotal {
    font-weight: bold;
}

.cardItem {
    margin-top: 2em;
    margin-left: 1em;
}

.add-btn {
    margin-left: 0.7em;
}

#catList{
    height: 27px;
    left: 187px;
    top: 535px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}